body
{
    margin: 0;
    padding: 0;
}

h1
{
    background-color:deeppink;
    color: white;
    margin: 0;
    padding: 30px;
    text-align: center;
}

h3
{
  color: yellowgreen;
  font-family:cursive;
}

a
{
    color:deeppink;
}

img
{
    width: 500px;
}