body
{
    margin: 0;
    padding: 0;
}

.conteudo
{

}

h1
{
    color: white;
    background-color: #fa95b8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

li
{
    color: #fa95b8;
}

img
{
    width: 500px;
    border: 5px solid pink;
    border-radius: 10px;
}

.centro
{
    text-align: center;
}